.imagenOferta {
    height: 250px;
    object-fit: cover;
    border-radius: 2em;
}

#ofertaInfo {
    padding: 20px;
}

#postulacionesPaquetesCol {
    padding: 20px;
    background-color: white;
    border-radius: 2em;
}

#consultaOferta {
    background-image: url("../files/email-pattern.png");
    border-radius: 2em;
}